.blockquote {
    background-color: #fafafa;
}
.footer {
    border-top: 1px solid #edf0f2;
}
.server-onoff {
    font-weight: 600;
    font-size: 1.5em;
}

.server--on {
    color: #87d017;
}
.server--off {
    color: #ff5858;
}
.server-ip {
    display: inline;
    color: #87d017;
}
.board-topic {
    padding: 5px 15px;
    background-color: whitesmoke;
}
.board-title {
    margin-bottom: 0px;
}

.board-poster {
    color: #797979;
    font-size: 12px;
    border-top: 1px solid #d4d4d4;
    padding: 10px 0px;
}

.board-body {
    margin-top: 10px;
    /* border-bottom: 1px solid #d4d4d4; */
}

.breadcrumb li, .breadcrumb li a {
    font-size: 1em;
}
.promo-block-slim {
    position: relative;
    z-index: 1;
    background-size: cover;
    padding: 0px 0 90px;
    background-color: #000000;
}
.auth {
    margin-top: 20px;
}
.error {
    color: #ff4141;
}
#board {
    background-image: url(../img/1920x1080/01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#board:before {
    background: rgba(81,87,105,.4);
}
.table--board {
    background: white;
}
.board-button {
    margin-bottom: 20px;
}
.board--category {
    margin-bottom: 20px;
}
.fb-box {
    background-color: white;
    margin-top: 20px;
}